@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

$mainRed: #DE1537;
$darkRed: #8F0C25;
$blue: #27A4F3;
$grey: #DEDEDE;
$green: #4CA459;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Signika', sans-serif;  
  background: darkgray;
}

.pokedex {
  display: block;
  background: $mainRed;
  min-height: 500px;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  overflow: auto;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 10px auto 50px;
    display: block;
  }

  h3 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    margin: 10px auto 10px;
    display: block;
  }

  h4{
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    display: block;
  }

  .poke-img {
    width: 150px;
    height: 150px;
    border: 5px solid $grey;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    background: #fff;
    background-image: url('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem;
  }


  input[type='text'] {
    font-size: 1.8rem;
    margin: 25px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid $grey;
    text-align: center;
  }

  button {
    font-size: 1rem;
    margin: 25px auto;
    display: block;
    border-radius: 5px;
    padding: 20px;
    background: $green;
    cursor: pointer;
  }

  .stats-container{
    text-align: center;
    display: block;
  }
  .primary-type{
    display: inline-block;
  }

  .secondary-type{
    display: inline-block;
  }
}